/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #00dbde;
    background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    // background-color: black;
  }
